body {
	background-color: #FFFBEE;
}

#header {
	font-family: lato;
	font-size: 80px;
	float: left;
	color: #6D96A6;
	margin-left: 200px;
}

table {
	background-color: #6D96A6;
	float: right;
	border: 1px solid black;
	border-radius: 2px;
	margin-right: 30px;
	margin-top: 10px;

}


tr {
	border-radius: 2px;
}

td {
	background-color: #F3F3F2;
	width: 145px;
	height: 145px;
	text-align: center;
	border: 1px solid black;
}
a {
	width: 
}








5A84D6